node_modules/
.vscode/

#Dev testing directory
src/Test/

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# A retirer avant le comit final :
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

package.json
package-lock.json
tsconfig.json
tsconfig.node.json
vite.config.ts
src/vite-env.d.ts

#Sinon je (Patrick) ne pourrai pas comit
assets/