body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: grid;
    grid-template: 50px auto 300px auto 1fr / 50px auto 80px auto 1fr;
    text-align: left;
}


nav {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    vertical-align: top;
    align-items: center;
}

.slider {
    width: 400px;
}


.button-33 {
    background-color: #000000;
    border-radius: 100px;
    box-shadow: rgba(177, 124, 10, 0.685) 0 -25px 18px -14px inset,rgba(211, 57, 10, 0.804) 0 1px 2px,rgba(225, 91, 7, 0.594) 0 2px 4px,rgba(176, 90, 24, 0.626) 0 4px 8px,rgba(215, 152, 16, 0.566) 0 8px 16px,rgba(187, 175, 44, 0.411) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align
    : center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-33:hover {
    box-shadow: rgba(177, 124, 10, 0.685) 0 -25px 18px -14px inset,rgba(211, 57, 10, 0.804) 0 1px 2px,rgba(225, 91, 7, 0.594) 0 2px 4px,rgba(176, 90, 24, 0.626) 0 4px 8px,rgba(215, 152, 16, 0.566) 0 8px 16px,rgba(187, 175, 44, 0.411) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }


#aboutBody {
    background-image: url("../assets/images/about.png");
}

#infoBody {
    background-image: url("../assets/images/info.png");
}